.completed {
    text-decoration: line-through
}
.card{
    cursor: pointer; 
}
.completed {
    text-decoration: line-through;
    color: #bababa;
    font-size: .8em;
}

.priceItem{
    color: #FD536F;
    font-size: 1.2em;
    line-height: 1.2;
}

.btn-primary:not(:disabled):not(.disabled).active, .btn-primary:not(:disabled):not(.disabled):active, .show>.btn-primary.dropdown-toggle {
    color: #fff;
    background-color: #FD536F;
    border-color: #FD536F;
}

.btn-primary:not(:disabled):not(.disabled).active:focus, .btn-primary:not(:disabled):not(.disabled):active:focus, .show>.btn-primary.dropdown-toggle:focus {
box-shadow: 0 0 0 0.2rem rgba(255, 118, 38, 0.5);
}

.btn-primary{
    background-color: #FD536F;
    border-color:#FD536F;
}

.btn-primary.focus, .btn-primary:focus {
    background-color: #F1445D;
    border-color: #F1445D;
    box-shadow: 0 0 0 0.2rem rgba(223, 105, 50, 0.966);
}

.btn-primary:hover {
    color: #fff;
    background-color: #F1445D;
    border-color: #F1445D;
}

.figure-img{
    padding: 10px;
    margin:50px;
}

.footer {
    margin-top: 50px;
    /* background: #212121; */
    text-align: center;
    padding: 5px;
    /* color: #fff; */
    color: #212121;
  }

/* 分頁 */
.pagination{
    justify-content:center;
}
