<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>表單驗證</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css"
      integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
    <link rel='stylesheet' href='https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.13.1/css/all.min.css' />
    <link href="https://cdn.jsdelivr.net/npm/vue-loading-overlay@3/dist/vue-loading.css" rel="stylesheet">
    <link rel="stylesheet" href="../css/style.css">
    <link rel="stylesheet" href="style.css">
</head>
<body>
    <div id="app">
       <!-- loading 套件 始 -->
       <loading :active.sync="isLoading"></loading>
       <!-- loading 套件 末 -->

        <!-- navbar 始 -->
        <nav class="navbar navbar-expand-lg navbar-light bg-light">
          <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavDropdown" aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
          </button>
            <a class="navbar-brand" href="index.html">mei</a>
            <div class="cartItem">
              <!-- 購物車icon 始-->
              <div class="cart pr-1"  @click="openModal('cart')">
                <div class="cart-icon">
                    <span class="totalItems">{{carts.length}}</span>
                    <i class="fa fa-shopping-cart" aria-hidden="true"></i>
                </div>
              </div>
              <!-- 購物車icon 末-->
            </div>
            
            <div class="collapse navbar-collapse" id="navbarNavDropdown">
              <ul class="navbar-nav">
                <li class="nav-item ">
                  <a class="nav-link active" href="index.html">首頁 <span class="sr-only">(current)</span></a>
                </li>
                <li class="nav-item">
                  <a class="nav-link" href="order.html">產品訂單</a>
                </li>
              </ul>
            </div>
        </nav>
        <!-- navbar 末 -->

        <div class="container">
          <!-- 購物車 Modal 顯現 -->
          <cart-modal ref="cartModal" :uuid="uuid" :api-path="apiPath" :is-cart.sync="isCart" v-on:carts="updatedCarts"></cart-modal>
          <!-- v-on:carts 由此接收子元件carts資料，觸發updatedCarts方法 接收資料 -->

            <div class="header">
              <h5 class="title text-center">所有產品</h5>
            </div>
            <!-- 產品列表開始 -->
            <div class="row mt-4">
              
            <div v-for="(item , index) in products" :key="item.id" class="col-md-4 mb-4">
                <div class="card">
                    <div style="height: 150px; background-size: cover; background-position: center" :style="{backgroundImage: `url(${item.imageUrl})`}" @click="openModal('detail',item)"></div>
                </div>
                <div class="card-body">
                    <span class="badge badge-secondary float-right ml-2">{{ item.category }}</span>
                    <h5 class="card-title">{{ item.title }}</h5>
                    <span class="priceItem">
                        <span class="price">{{ item.price | priceThousands }}&nbsp;</span>
                    </span>
                    <span class="completed">
                        <span class="originPrice">{{ item.origin_price | priceThousands }}</span>
                    </span>
                </div>
                <div class="card-footer d-flex">
                    <button type="button" class="btn btn-outline-secondary btn-sm" @click="openModal('detail',item)">查看更多</button>
                    <button type="button" class="btn btn-primary btn-sm ml-auto" @click="addToCart(item)">加入購物車</button>
                </div>
            </div>
            </div>
            <!-- 產品列表結束 -->
        </div>

        <!-- 產品詳情 Modal 顯現 (查看更多)-->
        <product-modal ref="productModal" :uuid="uuid" :api-path="apiPath"></product-modal>

        <!-- 加入購物車訊息 Modal 顯現 -->
        <order-modal ref="orderModal"  :uuid="uuid" :api-path="apiPath" :error-msg="errorMsg" :is-Error-Msg.sync="isErrorMsg"></order-modal>

    </div>

    <!-- 產品詳情 Modal 始 -->
    <script type="text/x-template" id="productModal">
        <div  id="productModal" class="modal fade" tabindex="-1" role="dialog" data-target="#exampleModalCenter" aria-hidden="true" >
          <div class="loading">
              <!-- loading 套件 始 (放入子元件中) -->
              <loading :active.sync="isLoading"></loading>
              <!-- loading 套件 末 -->  
          </div>
          <div class="modal-dialog modal-dialog-centered" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h6 id="exampleModalCenterTitle" class="mb-0" style="line-height:2;">{{ tempProduct.title }}</h6>
                    
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                      <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                    <img :src="tempProduct.imageUrl[0]" class="img-fluid" alt>
                    <blockquote class="blockquote mt-3">
                        <p class="mb-0" v-html="tempProduct.content"></p>
                        <footer class="blockquote-footer text-right">
                        {{ tempProduct.description }}
                        </footer>
                    </blockquote>
                    <div class="d-flex justify-content-between align-items-baseline">                      
                        <span class="completed">
                            <span class="currencyIdentifier">原價 </span>
                            <span class="originPrice"> {{ tempProduct.origin_price }}</span>
                        </span> 
                        <span class="priceItem">
                            <span class="currencyIdentifier">特價 </span>
                            <span class="price">{{  tempProduct.price }}&nbsp;</span>
                        </span>
                      </div>
                      <select v-model="tempProduct.num" name class="form-control mt-3">
                        <option value="0" disabled selected>
                          請選擇數量
                        </option>
                        <option v-for="num in 10" :key="num" :value="num">
                          選購 {{ num }} {{ tempProduct.unit }}
                        </option>
                      </select>
                    </div>
                     <div class="modal-footer">
                    <button type="button" class="btn btn-primary btn-sm ml-auto" @click="productDetailAddToCart(tempProduct)">加入購物車</button>
                </div>
                </div>
               
            </div>
          </div>
        </div>     
    </script>
    <!-- 產品詳情 Modal 末 -->

      <!-- 購物車 Modal 始 -->
      <script type="text/x-template" id="cartModal">
        <div class="cartbox" id="cartModal">
          <div class="loading">
            <!-- loading 套件 始 (放入子元件中) -->
            <loading :active.sync="isLoading"></loading>
            <!-- loading 套件 末 -->  
          </div>
          <!-- {{isCart}} -->
          <!-- 購物車 始 -->
          <div v-if="isCart" :class="{ cartMenu:isCart }">
            <div class="overlay" @click="closeCart"></div>
            <div  class="dialog-centered cartModalItem" role="document">
              <div class="content">
                <div class="card-header p-3">
                  <span class="title">已選購商品</span>
                  <button type="button" class="close" aria-label="Close" @click="closeCart">
                    <span aria-hidden="true">&times;</span>
                  </button>
                </div>
                <div class="card-body p-3">
                    <div class="cart-menu-scroll">
                        <div class="text-right mb-3">
                          <button type="button" class="btn btn-outline-danger btn-sm" @click="removeAllCartItem()">
                              <i class="far fa-trash-alt"> 刪除所有品項</i>
                          </button>
                        </div>
                          <table class="table-sm">
                            <tbody v-if="cart.length">
                                <tr v-for="item in cart" :key="item.id">
                                <td class="align-middle">
                                    <!-- 移除購物車產品 -->
                                    <button type="button" class="btn btn-outline-danger btn-sm" @click="removeCartItem(item.product.id)">
                                    <i class="far fa-trash-alt"></i>
                                    </button>
                                </td>
                                <td class="align-middle "><div class="cart-img mt-2" :style="{backgroundImage: `url(${item.product.imageUrl})`}"></div></td>
                                <td class="align-middle">
                                    <h6>{{ item.product.title }}</h6>
                                    <p>x {{item.quantity}} / {{ item.product.unit }}</p>
                                </td>
                                <td class="align-middle text-right">
                                    {{ item.product.price | priceThousands}}
                                </td>
                                </tr>
                            </tbody>
                          </table>
                        </div>
                        <div class="text-right">
                          <span colspan="4" class="text-right">
                              總計
                          </span>
                          <span class="text-right">
                            {{ cartTotal | priceThousands}}
                          </span>
                      </div>  
                  </div>
                  <div class="card-footer text-right p-3"> 
                    <button type="button" class="btn btn-secondary" @click="closeCart">取消</button>
                    <button type="button" class="btn btn-primary" @click="goOrder">結帳</button>
                  </div>
                </div>
              </div>
          </div>
      
        </div>     
    </script>
    <!-- 購物車 Modal 末 -->

    <!-- 加入購物車訊息 Modal 始 -->
    <script type="text/x-template" id="orderModal">
      <div class="modal fade" id="orderModal" tabindex="-1" role="dialog" data-target="#exampleModalCenter"
      aria-hidden="true">
      <div class="modal-dialog modal-dialog-centered" role="document">
        <div class="modal-content">
          <div class="modal-header">
            <h4 class="modal-title" id="exampleModalCenterTitle" style="color:#FD536F;">注意</h4>
            <button type="button" class="close" data-dismiss="modal" aria-label="Close" @click="isErrorMsgSwitch">
              <span aria-hidden="true">&times;</span>
            </button>
          </div>
          <div class="modal-body">
            <h5 v-if="!isErrorMsg">成功加入購物車。</h5>
            <h5 v-else-if="isErrorMsg" >{{errorMsg}}</h5>
          </div>
          <div class="modal-footer">
            <button v-if="!isErrorMsg" type="button" class="btn btn-secondary" data-dismiss="modal" >關閉</button>
            <button v-else-if="isErrorMsg" type="button" class="btn btn-secondary" data-dismiss="modal" @click="isErrorMsgSwitch">關閉</button>
          </div>
        </div>
      </div>
    </div>
  </script>
  <!-- 加入購物車訊息 Modal 末 -->
    
    
    <script src="https://code.jquery.com/jquery-3.4.1.slim.min.js"
      integrity="sha384-J6qa4849blE2+poT4WnyKhv5vZF5SrPo0iEjwBvKU7imGFAV0wwj1yYfoRSJoZ+n" crossorigin="anonymous">
      </script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js"
      integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo" crossorigin="anonymous">
      </script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js"
      integrity="sha384-wfSDF2E50Y2D1uUdj0O3uMBJnjuUD4Ih7YwaYd1iqfktj0Uod8GCExl3Og8ifwB6" crossorigin="anonymous">
      </script>
    <script src="https://cdn.jsdelivr.net/npm/axios/dist/axios.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/vue-loading-overlay@3"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/vee-validate/3.3.0/vee-validate.full.min.js"></script>

    <script type="module" src="all.js"></script>
</body>
</html>
