<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>表單驗證</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css"
      integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
    <link rel='stylesheet' href='https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.13.1/css/all.min.css' />
    <link href="https://cdn.jsdelivr.net/npm/vue-loading-overlay@3/dist/vue-loading.css" rel="stylesheet">
    <link rel="stylesheet" href="/css/style.css">
    <link rel="stylesheet" href="style.css">
      
</head>
<body>
  <template></template>
    <div id="app">
        <!-- navbar 始 -->
        <nav class="navbar navbar-expand-lg navbar-light bg-light">
          <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavDropdown" aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
          </button>
            <a class="navbar-brand" href="index.html">mei</a>
            <div class="cartItem">
              <!-- 購物車icon 始-->
              <div class="cart pr-1"  @click="openModal('cart')">
                <div class="cart-icon">
                    <span class="totalItems">{{carts.length}}</span>
                    <i class="fa fa-shopping-cart" aria-hidden="true"></i>
                </div>
              </div>
              <!-- 購物車icon 末-->
            </div>
            
            <div class="collapse navbar-collapse" id="navbarNavDropdown">
              <ul class="navbar-nav">
                <li class="nav-item ">
                  <a class="nav-link" href="index.html">首頁 <span class="sr-only">(current)</span></a>
                </li>
                <li class="nav-item active">
                  <a class="nav-link" href="order.html">產品訂單</a>
                </li>
              </ul>
            </div>
        </nav>
        <!-- navbar 末 -->

        <div class="container">
            <!-- 購物車 Modal 顯現 -->
            <cart-modal ref="cartModal" :uuid="uuid" :api-path="apiPath" :is-cart.sync="isCart" v-on:carts="updatedCarts">
            </cart-modal>
            <!-- v-on:carts 由此接收子元件carts資料，觸發updatedCarts方法 接收資料 -->

            <!--訂單頁面 表單驗證 Modal 開始-->
            <div class="my-5 row justify-content-center" >
                <h5 class="title">訂單資訊</h5>
                <validation-observer v-slot="{ invalid }" class="col-md-6">
                    <form @submit.prevent="createOrder">
                        <div class="form-group">
                            <!--validation-provider input驗證 -->
                            <!--  rules :驗證規則 v-slot: 回傳內容 classes -->
                            <validation-provider rules = "required" v-slot="{errors,classes}" >
                                <label for="username">收件人姓名</label>
                                <input id="username" class="form-control" v-model="form.name" type="text" :class="classes">
                                <!-- :class="classes" 動態綁定 className。 在all.js中設定成功失敗樣式 -->
                                <!-- 當驗證錯誤時，會跑出錯誤訊息errors[0]text-danger 為 顯示的錯誤顏色-->
                                <span v-if="errors[0]"  class="text-danger">{{errors[0]}}</span>
                            </validation-provider>
                        </div>    
                        <div class="form-group">
                            <validation-provider rules = "required|email" v-slot="{errors,classes}" >
                                <label for="email">電子信箱</label>
                                <input id="email" class="form-control" v-model="form.email" type="text" :class="classes">
                                <span v-if="errors[0]"  class="text-danger">{{errors[0]}}</span>
                            </validation-provider>
                        </div>
                        <div class="form-group">
                            <validation-provider rules = "required|min:8" v-slot="{errors,classes}" >
                                <label for="tel">電話</label>
                                <input id="tel" class="form-control" v-model="form.tel" type="text" :class="classes">
                                <span v-if="errors[0]"  class="text-danger">{{errors[0]}}</span>
                            </validation-provider>
                        </div>
                        <div class="form-group">
                            <validation-provider rules = "required" v-slot="{errors,classes}" >
                                <label for="address">地址</label>
                                <input id="address" class="form-control" v-model="form.address" type="text" :class="classes">
                                <span v-if="errors[0]"  class="text-danger">{{errors[0]}}</span>
                            </validation-provider>
                        </div>
                        <div class="form-group">
                            <validation-provider rules = "required" v-slot="{errors,classes}" >
                            <label for="payment">付款方式</label>
                                <select id="payment" v-model="form.payment" class="form-control" required :class="classes">
                                    <option value="" disabled>
                                    請選擇付款方式
                                    </option>
                                    <option value="WebATM">
                                    WebATM
                                    </option>
                                    <option value="ATM">
                                    ATM
                                    </option>
                                    <option value="CVS">
                                    CVS
                                    </option>
                                    <option value="Barcode">
                                    Barcode
                                    </option>
                                    <option value="Credit">
                                    Credit
                                    </option>
                                    <option value="ApplePay">
                                    ApplePay
                                    </option>
                                    <option value="GooglePay">
                                    GooglePay
                                    </option>
                                </select>
                                <span v-if="errors[0]"  class="text-danger">{{errors[0]}}</span>
                            </validation-provider>
                        </div>
                        <div class="form-group">
                            <label for="message">留言</label>
                            <textarea id="message" v-model="form.message" class="form-control" cols="30" rows="3">
                        </textarea>
                        </div>
                        <div class="text-right">
                            <button type="submit" class="btn btn-primary" :disabled="invalid">送出</button>
                        </div>
                    </form>
                </validation-observer>
            </div>
            <!--訂單頁面 表單驗證 Modal 結束-->
        </div>

        <!-- 訂單完成 Modal 顯現 -->
        <order-modal ref="orderModal"  :uuid="uuid" :api-path="apiPath"></order-modal>

    </div>

   

    <!-- 購物車 Modal 始 -->
    <script type="text/x-template" id="cartModal">
        <div  class="cartbox" id="cartModal">
            
            <div class="loading">
              <!-- loading 套件 始 (放入子元件中) -->
              <loading :active.sync="isLoading"></loading>
              <!-- loading 套件 末 -->  
            </div>

            <!-- 購物清單 始 -->
            <div>
                <div class="content">
                    <div class="header">
                      <h5 class="title text-center">購物清單</h5>
                    </div>
                    <div class="body">
                        <div class="cart-menu">
                            <!-- <span class="text-left mb-3">
                                
                            </span> -->
                            <div class="d-flex mb-3">
                                <div class="col-6">
                                    <span class="text-left">目前有共 {{cart.length}} 件 商品</span>
                                </div>
                                
                                <div class="col-6 text-right">
                                    <button type="button" class="btn btn-outline-danger btn-sm" @click="removeAllCartItem()">
                                    <i class="far fa-trash-alt"> 刪除所有品項</i>
                                    </button>
                                </div>
                                
                            </div>
                        
                        <table class="table">
                            <thead>
                              <th>刪除</th>
                              <th>品名</th>
                              <th width="150px">
                                數量
                              </th>
                              <th>單位</th>
                              <th>單價</th>
                            </thead>
                            <tbody v-if="cart.length">
                              <tr v-for="item in cart" :key="item.id">
                                <td class="align-middle">
                                    <!-- 移除購物車產品 -->
                                  <button type="button" class="btn btn-outline-danger btn-sm" @click="removeCartItem(item.product.id)">
                                    <i class="far fa-trash-alt"></i>
                                  </button>
                                </td>
                                <td class="align-middle">
                                  {{ item.product.title }}
                                </td>
                                <td class="align-middle">
                                  <div class="input-group">
                                    <div class="input-group-prepend">
                                      <button class="btn btn-outline-primary"
                                        @click="quantityUpdata(item.product.id, item.quantity + 1)">
                                        +
                                      </button>
                                    </div>
                                    <input id="inlineFormInputGroupUsername" type="text" class="form-control text-center"
                                      :value="item.quantity" @keyup.enter="quantityUpdata(item.product.id, $event.target.value)">
                                    <div class="input-group-append">
                                      <button class="btn btn-outline-primary"
                                        @click="quantityUpdata(item.product.id, item.quantity - 1)">
                                        -
                                      </button>
                                    </div>
                                  </div>
                                </td>
                                <td class="align-middle">
                                  {{ item.product.unit }}
                                </td>
                                <td class="align-middle text-right">
                                    NT$ {{ item.product.price }}
                                </td>
                              </tr>
                            </tbody>
                          </table>
                          </div>
                          <div class="text-right">
                            <span colspan="4" class="text-right">
                                總計
                            </span>
                            <span class="text-right">
                                NT$ {{ cartTotal }}
                            </span>
                        </div>  
                    </div>
                </div>
            </div>
             <!-- 購物清單 末 -->
            
            <!-- 購物車 始 -->
            {{ isCart }}
            <div v-if="isCart" :class="{ cartMenu:isCart }">
                <div class="overlay" @click="closeCart"></div>
                <div  class="dialog-centered cartModalItem" role="document">
                    <div class="content">
                      <div class="card-header p-3">
                        <span class="title">已選購商品</span>
                        <button type="button" class="close" aria-label="Close" @click="closeCart">
                            <span aria-hidden="true">&times;</span>
                          </button>
                      </div>
                      <div class="card-body p-3">
                            <div class="cart-menu-scroll">
                                <div class="text-right mb-3">
                                  <button type="button" class="btn btn-outline-danger btn-sm" @click="removeAllCartItem()">
                                    <i class="far fa-trash-alt"> 刪除所有品項</i>
                                  </button>
                                </div>
                          
                                <table class="table-sm">
                                <tbody v-if="cart.length">
                                    <tr v-for="item in cart" :key="item.id">
                                    <td class="align-middle">
                                        <!-- 移除購物車產品 -->
                                        <button type="button" class="btn btn-outline-danger btn-sm" @click="removeCartItem(item.product.id)">
                                        <i class="far fa-trash-alt"></i>
                                        </button>
                                    </td>
                                    <td class="align-middle "><div class="cart-img mt-2" :style="{backgroundImage: `url(${item.product.imageUrl})`}"></div></td>
                                    <td class="align-middle">
                                        <span>{{ item.product.title }}</span>
                                        <p>x {{item.quantity}} / {{ item.product.unit }}</p>
                                    </td>
                                    <td class="align-middle text-right">
                                        NT$ {{ item.product.price }}
                                    </td>
                                    </tr>
                                </tbody>
                                </table>
                            </div>
                            <div class="text-right">
                              <span colspan="4" class="text-right">
                                  總計
                              </span>
                              <span class="text-right">
                                NT$ {{ cartTotal }}
                              </span>
                          </div>  
                      </div>
                      <div class="card-footer text-right p-3"> 
                        <button type="button" class="btn btn-secondary" @click="closeCart">取消</button>
                        <button type="button" class="btn btn-primary" @click="goOrder">結帳</button>
                      </div>
                    </div>
                  </div>
            </div>
            
        </div>     
    </script>
    <!-- 購物車 Modal 末 -->

    <!-- 訂單完成 Modal 始 -->
    <script type="text/x-template" id="orderModal">
        <div class="modal fade" id="orderModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel"
        aria-hidden="true">
        <div class="loading">
          <!-- loading 套件 始 (放入子元件中) -->
          <loading :active.sync="isLoading"></loading>
          <!-- loading 套件 末 -->  
      </div>
        <div class="modal-dialog" role="document">
          <div class="modal-content">
            <div class="modal-header">
              <h5 class="modal-title" id="exampleModalLabel">完成訂單</h5>
              <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                <span aria-hidden="true">&times;</span>
              </button>
            </div>
            <div class="modal-body">
              <p>恭喜你已完成訂單。</p>
            </div>
            <div class="modal-footer">
              <button type="button" class="btn btn-secondary" data-dismiss="modal">關閉</button>
            </div>
          </div>
        </div>
      </div>
    </script>
    <!-- 訂單完成 Modal 末 -->
    
    <script src="https://code.jquery.com/jquery-3.4.1.slim.min.js"
      integrity="sha384-J6qa4849blE2+poT4WnyKhv5vZF5SrPo0iEjwBvKU7imGFAV0wwj1yYfoRSJoZ+n" crossorigin="anonymous">
      </script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js"
      integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo" crossorigin="anonymous">
      </script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js"
      integrity="sha384-wfSDF2E50Y2D1uUdj0O3uMBJnjuUD4Ih7YwaYd1iqfktj0Uod8GCExl3Og8ifwB6" crossorigin="anonymous">
      </script>
    <script src="https://cdn.jsdelivr.net/npm/axios/dist/axios.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/vue-loading-overlay@3"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/vee-validate/3.3.0/vee-validate.full.min.js"></script>

    <script type="module" src="all.js"></script>
</body>
</html>